*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(257deg, 40%, 49%);
  min-height: 100vh;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  body::before {
    background-image: url("/assets/images/bg-desktop.svg");
    background-size: cover;
  }
}

main {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  main {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.logo {
  padding: 2.5rem 2.2rem;
}

.logo__img {
  width: 150px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 2.2rem 2.5rem;
}
@media (min-width: 1200px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 650px);
  }
}

.illustration {
  margin-bottom: 3.5rem;
  text-align: center;
}
.illustration img {
  width: 100%;
  max-width: 450px;
}

.presentation {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 1200px) {
  .presentation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
  }
}
.presentation__title {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.4rem;
  letter-spacing: 1px;
}
@media screen and (min-width: 1200px) {
  .presentation__title {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }
}
.presentation__description {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .presentation__description {
    text-align: left;
    font-size: 1rem;
  }
}
.presentation__button {
  background: #fff;
  border: 2px solid;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8rem 4rem;
  transition: 0.25s;
  border: 1px solid hsl(257deg, 40%, 49%);
  border-radius: 5rem;
  color: hsl(257deg, 40%, 49%);
  filter: drop-shadow(2px 2px 2px rgba(42, 42, 42, 0.514));
}
@media screen and (min-width: 1200px) {
  .presentation__button {
    align-self: flex-start;
  }
}
.presentation__button:hover, .presentation__button:focus {
  box-shadow: inset 0 0 0 2em hsl(300deg, 69%, 71%);
  border: 1px solid hsl(300deg, 69%, 71%);
  color: #fff;
  filter: drop-shadow(0 0 4px rgba(42, 42, 42, 0.514));
}

.Social-Networks {
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 1200px) {
  .Social-Networks {
    justify-content: flex-end;
    padding: 0 5.2rem;
  }
}
.Social-Networks-icon {
  display: grid;
  place-items: center;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  transition: 0.25s;
}
@media screen and (min-width: 1200px) {
  .Social-Networks-icon {
    width: 45px;
    height: 45px;
    font-size: 1.2rem;
  }
}
.Social-Networks-icon:hover, .Social-Networks-icon:focus {
  box-shadow: inset 0 0 0 1em hsl(257deg, 40%, 49%);
  border: 1px solid hsl(300deg, 69%, 71%);
  color: hsl(300deg, 69%, 71%);
}

footer {
  margin-top: 2rem;
}
footer .attribution {
  color: #fff;
}
footer .attribution a {
  color: hsl(300deg, 69%, 71%);
}

@media screen and (min-width: 1200px) {
  .logo {
    padding: 1.5rem;
  }
  .logo__img {
    width: 100%;
    max-width: 250px;
  }
  .illustration {
    margin-bottom: 0;
  }
  .illustration img {
    max-width: none;
    width: 100%;
  }
  footer {
    display: none;
  }
}