*, *::after, *::before {
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #674baf;
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
