// vars
$mobile: 375px;
$desktop: 1440px;

// Colors

// Primary
$violet: hsl(257, 40%, 49%);
$soft_magenta: hsl(300, 69%, 71%);

*,*::after,*::before{
  box-sizing: border-box;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}

body{
  background-color: $violet;
  min-height: 100vh;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/bg-mobile.svg');
    background-repeat: no-repeat;
    z-index: 1;
  }
}

main{
  position: relative;
  z-index: 10;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.logo{
  padding: 2.5rem 2.2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.logo__img{
  width: 150px;
}

.main-content{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 2.2rem 2.5rem;

  @media (min-width:1000px) {
    display: grid;
    grid-template-columns: repeat(2,minmax(500px,600px));
    margin: 0 auto;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.illustration{
  margin-bottom: 3.5rem;
  text-align: center;

  img{
    width: 100%;
    max-width: 450px;
  }
}

.presentation{
  text-align: center;
  font-family: 'Poppins', sans-serif;

  &__title{
    font-size: 1.6rem;
    color: #fff;
    line-height: 2.4rem;
    letter-spacing: 1px;
  }

  &__description{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  &__button{
    background: #fff;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: .8rem 4rem;
    transition: 0.25s;
    border: 1px solid $violet;
    border-radius: 5rem;
    color: $violet;
    filter: drop-shadow(2px 2px 2px rgba(42, 42, 42, 0.514));

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2em $violet;
      border: 1px solid #fff;
      color: #fff;
    }

  }
}

.Social-Networks{
  margin-top: 2.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  
  &-icon{
    display: grid;
    place-items: center;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    font-size: .9rem;
    transition: 0.25s;
    
    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1em #fff;
      border: 1px solid #fff;
      color: $violet;
    }
  }
}



footer{
  margin-top: 2rem;

  .attribution{
    color: #fff;

    a{
      color: $soft_magenta;
    }
  }
}


@media screen and (min-width:1000px){
  .logo{
    padding: 1.5rem;

    &__img{
      width: 100%;
      max-width: 250px;
    }
  }

  .illustration{
    margin-bottom: 0;

    img{
      max-width: none;
      width: 100%;
    }
  }
}