:root {
  --mobile: 375px;
  --desktop: 1440;
  --cyan:  hsl(179, 62%, 43%);
  --bright-yellow:  hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --font-size: 1rem;
}

.attribution {
  font-size: .7rem;
  text-align: center;
}

.attribution a {
  color: #58bc15;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 60px;
  place-items: center;
  background-color: var(--light-gray);
}

.container {
  width: 85%;
  border-radius: .4rem;
  overflow: hidden;
  filter: drop-shadow(0 0 6px #d6d6d6);
  max-width: 320px;
}

.box1 {
  background-color: #fff;
  padding: 2rem 1.5rem;
  font-size: var(--font-size);
}

.box1 h1 {
  color: var(--cyan);
  font-size: 1.3em;
}

.box1 .subtitle {
  color: var(--bright-yellow);
  margin-top: 1.5rem;
  font-weight: 700;
}

.box1 .description {
  color: var(--grayish-blue);
  margin-top: 1.5rem;
  font-size: .85rem;
  line-height: 1.5rem;
}

.box2 {
  background-color: var(--cyan);
  padding: 2rem 1.5rem;
  font-size: var(--font-size);
  color: #fff;
}

.box2 h2 {
  color: #fff;
  font-size: 1.2em;
}

.box2 .price {
  color: rgba(255, 255, 255, 0.561);
  margin-top: 1.3rem;
  margin-bottom: .6rem;
}

.box2 .price span {
  color: #fff;
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: .5rem;
}

.box2 button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: .5rem;
  color: #fff;
  filter: drop-shadow(0 3px 8px #26a2a0);
}

.box3 {
  background-color: #4abebd;
  padding: 2rem 1.5rem;
  color: #fff;
}

.box3 h2 {
  margin-bottom: 1.5rem;
}

.box3 p {
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.65);
}

@media screen and (min-width: 700px) {
  .container {
    min-width: 670px;
    max-width: 670px;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .box1 {
    grid-column: span 2;
    padding: 3rem 2.5rem;
  }
  .box1 h1 {
    font-size: 1.6em;
  }
  .box1 .subtitle {
    font-size: 1.2em;
  }
  .box1 .description {
    width: 90%;
    margin-top: 1rem;
    font-size: 1em;
    line-height: 1.7rem;
  }
  .box2 {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
  .box3 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 1rem;
  }
  .box3 h2 {
    font-size: 1.3em;
    margin-bottom: .9rem;
  }
  .box3 p {
    line-height: 1.4rem;
    font-size: .95em;
  }
  .attribution {
    font-size: .9rem;
  }
}
