* {
  font-family: 'Poppins', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.cards__section {
  min-height: 100vh;
  padding-top: 5rem;
}

.cards__header {
  width: 80%;
  margin: 0 auto;
}

.cards__title {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}

.cards__title span {
  display: block;
  margin-top: .4rem;
  font-weight: 700;
}

.cards__description {
  margin-top: 1.4rem;
  text-align: center;
  font-size: .9rem;
  line-height: 1.4rem;
}

.cards__container {
  width: 80%;
  margin: 4rem auto 0;
  display: grid;
  gap: 1.7rem;
}

.card {
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: -0.2rem 0.5rem 0.9rem #a3a5ae;
  padding: 1.5rem;
  text-align: right;
}

.card::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  top: 0;
  left: 0;
}

.card h2 {
  margin: 0;
  padding: 0;
}

.card__title {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1rem !important;
}

.card__description {
  text-align: left;
  font-size: .8rem;
  line-height: 1.5rem;
}

.card__img {
  margin-top: 2rem;
}

.c_grayish_blue {
  color: #a3a5ae;
}

.c_vdb {
  color: #4c4e61;
}

.card_header_bg_cyan::before {
  background-color: #45d3d3;
}

.card_header_bg_red::before {
  background-color: #ea5353;
}

.card_header_bg_orange::before {
  background-color: #fcaf4a;
}

.card_header_bg_blue::before {
  background-color: #549ef2;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
}

@media screen and (min-width: 900px) {
  .cards__section {
    padding-top: 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .cards__header {
    margin-top: 4rem;
    width: 40%;
  }
  .cards__title {
    font-size: 2.3rem;
  }
  .cards__description {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  .card {
    max-width: 344px;
  }
  .karma__column {
    grid-column: 2/3;
  }
  .calculator__column {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .supervisor__column {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
